<script src="Controller/counViewFamilyController.js"></script>

<div class="row">
<div class="col-sm-12">
    <div id="cnt" class="container bg-dark text-white shadow rounded">
    <h1 class="text-white">Tribe Family Details</h1><br>
      <table class="table table-striped table-fixed table-dark" id="tb">
          <thead class="thead-dark">
              <!-- <th>Sl.No</th> -->
              <th>FAMILY ID</th>
              <th>HOUSE NAME</th>
              <th>COMMUNITY NAME</th>
              <th>DISTRICT</th>
              
          </thead>
          <tbody id="stds"></tbody>
      </table>
      <div class="col-md-12"><br>
        <button class="btn btn-success" type="button" onclick="location.href='index_cordin1.py?id=addFamily'">ADD MORE</button>
    </div>
    </div>
  </div>
  <div class="text-center" id="msg"></div>
  </div>