<script src="Controller/dropdown2.js"></script>
<script src="Controller/addProductController.js"></script>
<div class="row align-items-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
      <div class=" shadow p-3 mb-5 rounded bg-light text-dark text-center text-right p-3 my-5">
        <form action="" class="myForm" id="myForm" method="post">
          <h3 class="text-center text-secondary">Add Products</h3>
          <div class="row form-group">
            <div class="col-md-12">
                <label for="name" class="text-primary">Name</label>
                  <input type="text" name="pname" id="pname" class="form-control" placeholder="Product Name" minlength="4"
                    required>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="name" class="text-primary">Category Name</label> 
                <select name="cat" id="cat" class="form-control">
            
                </select>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">  
                <label for="name" class="text-primary">Price</label>
                  <input type="text" name="price" id="price" class="form-control" placeholder="In Indian Rupees" minlength="4" 
                  required>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="name" class="text-primary">Offer Price</label>
                <input type="text" name="oprice" id="oprice" class="form-control" placeholder="In Indian Rupees" required>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="name" class="text-primary">Stock</label>
                <input type="text" name="qty" id="qty" class="form-control" placeholder="In Numbers" required>
              </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                <label for="name" class="text-primary">Product Image</label>
                <input type="file" name="pimg" id="pimg" accept= "image/*" class="form-control" placeholder="Image" required>
              </div>
            </div>
          <div class="row form-group">
              <div class="col-md-12 text-right">
                <button type="submit" id="submit" class="btn btn-success">Add</button>
                <button type="reset" id="cancel" class="btn btn-secondary">Cancel</button>
              </div>
          </div>

          </form>
      </div>
    </div>
</div>
<script>

  $(document).ready(function($) 
  {
     
    jQuery.validator.addMethod("lettersonly", function(value, element) 
    {
              return this.optional(element) || /^[a-z ]+$/i.test(value);
    }, "Letters only please"); 
    jQuery.validator.addMethod("numbersonly", function(value, element) 
    {
              return this.optional(element) || /^[0-9 ]+$/i.test(value);
    }, "Numbers only please");      
    $('#myForm').validate({
      rules: 
      {        
        pname: 
        {
          required: true,
          lettersonly: true
        },
        price: 
        {
          required: true,
          numbersonly:true
        },
        oprice: 
        {
          required: true,
          numbersonly:true
        }, 
        qty: 
        {
          required: true,
          numbersonly:true
        }
      },
      messages: 
      {
        pname: 
        {
          required: "Name required",
          lettersonly:"Only Alphabets"  
        },
        price: 
        {
          required: "Price required",
          numbersonly:"Only Numbers"  
        },
        oprice: 
        {
          required: "Offer price required",
          numbersonly:"Only Numbers"           
        },
        qty: 
        {
          required: "Quantity required",
          numbersonly:"Only Numbers"
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
      $(element).addClass('is-valid');
    },
      
    }); 
  });
      
</script>



