<script src="Controller/dropdown1.js"></script>
<script src="Controller/dropdown4.js"></script>
<script src="Controller/allotPackageController.js"></script>
<div class="row align-items-center">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
      <div class=" shadow p-3 mb-5 rounded bg-light text-dark text-center text-right p-3 my-5">
          <form action="" class="myForm" id="myForm" method="post">
              <h3 class="text-center text-primary">ALLOT PACKAGES</h3><br>
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="name" class="text-primary">Package</label> 
                  <select name="pname" id="pname" class="form-control" required>

                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="name" class="text-primary">District</label> 
                  <select name="dist" id="dist" class="form-control" required>

                  </select>
                </div>
              </div>
              <div class="col-md-12"><br>
                <button type="submit" id="submit" class="btn btn-success">Add</button>&emsp;
                <button type="reset" id="cancel" class="btn btn-secondary">Clear</button><br><br>
            </div>              
          </form>        
      </div>
  </div>
</div>
</div>