<script src="Controller/viewEventController.js"></script>
<!-- from -->
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-0"></div>
        <div class="col-md-12 text-center"
            style="color: #382f2f; font-weight: bold; background-image: url('uploads/bg1.jpg'); 
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%; border-radius: 10px;">
            <!-- to -->
            <h2 style="color: rgb(0, 0, 0);">Event List</h2><br>

            <div id="mainContent" class="row"></div>
            <div class="col-md-12"><br>
                <button class="btn btn-success" type="button" onclick="location.href='index_admin1.py?id=addEvent'">ADD MORE</button>
              </div>
        </div>
        <div class="col-md-0"></div>
    </div>
</div>